extends ../layout
include ../components/titleBar
include ../components/tableHeader
include ../components/tableCell
include ../components/tableRow
include ../components/formFile

block content

  +titleBar([{title: 'Tasks'}])
  div(class="flex flex-wrap m-4")

    table(class="table-auto w-full")
      thead
        tr
          +tableHeader('Task ID')
          +tableHeader('Title')
      tbody
        each task, i in tasks
          +tableRow(`/admin/taskConfig?taskID=` + task.id)
            +tableCell(task.id)
            +tableCell(task.title)

  hr
  div(class="w-full p-3")
    div(class="bg-white border-transparent rounded-lg shadow-lg")
      div(class="bg-gray-400 uppercase text-gray-800 border-b-2 border-gray-500 rounded-tl-lg rounded-tr-lg p-2")
        h5(class="font-bold uppercase text-gray-600") Add/Update task
      div(class="p-5")
        form(class="w-full m-4" method="POST" action="/admin/uploadTask" encType="multipart/form-data")
          div(class="flex -mx-3 mb-6")
            div(class="w-1/2 px-3 mb-6 md:mb-0")
              +formFile(null, "uploadFile")
          div(class="w-1/2 px-3 mb-6 md:mb-0")
            button(class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded") Add/Update Task

