extends ../layout

include ../components/titleBar
include ../components/tableHeader
include ../components/tableCell
include ../components/tableRow
include ../components/formFile
include ../components/formHidden

block content

    +titleBar([{title: 'Repositories', href: '/admin/repositories'},
    {title: owner + ' ' + repository, href: '/admin/repositoryAdmin?owner=' + owner + '&repository=' + repository},
    {title: 'Repository Config Parse Errors'}])

    div(class="flex flex-wrap m-4")
    div(class="flex flex-wrap m-4")

        each error, i in errors
            div(class="")
                p= error.timestamp + ` ` + error.error.name
                br
                p= error.error.reason
                br
                pre= error.error.message
                br
