extends ../../layout
include ../../components/titleBar
include ../../components/formSelect
include ../../components/infoCard
include ../../components/infoCardPair
include ../../components/tableRow
include ../../components/tableCell
include ../../components/tableHeader

block content

  +titleBar([{title: 'Task Parameter Values'}])

  div(class="flex flex-wrap m-4")
    form(class="w-full m-4" method="GET" action="/admin/reports/taskParameterValues")
      div(class="flex -mx-3 mb-6")
        div(class="w-1/5 px-3 mb-6 md:mb-0")
          +formSelect("Time", "time", timeFilterList, timeFilter)
        div(class="w-1/5 px-3 mb-6 md:mb-0")
          +formSelect("Task", "task", taskList, taskFilter)
      div(class="w-1/4 px-3 mb-6 md:mb-0")
        button(class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded") Filter

  hr

  +infoCard('Config Parameters')
    table(class="table-auto w-full")
        thead
            +tableHeader('Config Parameter')
            +tableHeader('Value')
            +tableHeader('Count')
            +tableHeader('Repository')
        tbody
            each param, i in parameters
                +tableRow()
                    +tableCell(param.key)
                    +tableCell(param.value)
                    +tableCell(param.count)
                    +tableCell(param.repository)