mixin formHidden(field, value)
  input(class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" id=``+field name=``+field type="hidden" value=``+value)
