mixin formSelect(title, field, options, selected)
  label(class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-task")= title
  select(class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id=``+field name=``+field)
    each option, i in options
      if option == selected
        option(selected)= option
      else
        option= option
