include sideBarSection

mixin sideBar(activeMenu)
    div(class="bg-gray-800 shadow-lg h-16 fixed bottom-0 md:relative md:h-screen z-10 w-full md:w-48")
        div(class="md:mt-12 md:w-48 md:fixed md:left-0 md:top-0 content-center md:content-start text-left justify-between")
            ul(class="list-reset flex flex-row md:flex-col py-0 md:py-3 px-1 md:px-2 text-center md:text-left mt-6")

                +sideBarSection('Stampede', 'address-book', [
                    {title: 'Repositories', href: '/repositories', class: 'pb-3'},
                    ])
                +sideBarSection('Monitor', 'desktop', [
                    {title: 'Active Builds', href: '/monitor/activeBuilds'},
                    {title: 'Active Tasks', href: '/monitor/activeTasks'},
                    {title: 'Workers', href: '/monitor/workers'},
                    {title: 'Queues', href: '/monitor/queues', class: 'pb-3'}
                    ])
                +sideBarSection('History', 'history', [
                    {title: 'Builds', href: '/history/builds'},
                    {title: 'Build Summary', href: '/history/buildSummary'},
                    {title: 'Tasks', href: '/history/tasks'},
                    {title: 'Task Summary', href: '/history/taskSummary'},
                    {title: 'Daily Summary', href: '/history/dailySummary', class: 'pb-3'}
                    ])
                +sideBarSection('Admin', 'user-cog', [
                    {title: 'Tasks', href: '/admin/tasks'},
                    {title: 'Defaults', href: '/admin/defaults'},
                    {title: 'Overrides', href: '/admin/overrides'},
                    {title: 'Queues', href: '/admin/queues'},
                    {title: 'Info', href: '/admin/info'}
                    ])
