include sideBarSection
include sideBarHeader
include sideBarItem

mixin sideBar(activeMenu, owners, isAdmin)
    div(class="shadow-lg h-16 fixed bottom-0 md:relative md:h-screen z-10 flex-shrink-0 w-48")
        div(class="md:mt-12 md:fixed md:left-0 md:top-0 content-center md:content-start text-left justify-between")
            ul(class="list-reset flex flex-row md:flex-col py-0 md:py-3 px-1 md:px-2 text-center md:text-left mt-6")

                +sideBarHeader('Repositories', 'address-book')
                each owner, i in owners
                    if i < (owners.length-1)
                        +sideBarItem({title: owner, href: `/repositories?owner=`+owner})
                    else
                        +sideBarItem({title: owner, href: `/repositories?owner=`+owner, class: 'pb-3'})

                +sideBarSection('Monitor', 'desktop', [
                    {title: 'Active Builds', href: '/monitor/activeBuilds'},
                    {title: 'Active Tasks', href: '/monitor/activeTasks'},
                    {title: 'Workers', href: '/monitor/workers'},
                    {title: 'Queues', href: '/monitor/queues', class: 'pb-3'}
                    ])
                +sideBarSection('History', 'history', [
                    {title: 'Builds', href: '/history/builds'},
                    {title: 'Build Summary', href: '/history/buildSummary'},
                    {title: 'Tasks', href: '/history/tasks'},
                    {title: 'Task Health', href: '/history/taskHealth'},
                    {title: 'Task Summary', href: '/history/taskSummary'},
                    {title: 'Hourly Summary', href: '/history/hourlySummary'},
                    {title: 'Daily Summary', href: '/history/dailySummary'},
                    {title: 'Build Time by Org', href: '/history/buildTimeByOrg'},
                    {title: 'Build Time by Node', href: '/history/buildTimeByNode', class: 'pb-3'}
                    ])
                if isAdmin == true
                    +sideBarSection('Admin', 'user-cog', [
                        {title: 'Tasks', href: '/admin/tasks'},
                        {title: 'Owners', href: '/admin/owners'},
                        {title: 'Repositories', href: '/admin/repositories'},
                        {title: 'Defaults', href: '/admin/defaults'},
                        {title: 'Overrides', href: '/admin/overrides'},
                        {title: 'Queues', href: '/admin/queues'},
                        {title: 'Info', href: '/admin/info'},
                        {title: 'Logout', href: '/admin/logout'}
                        ])
                else
                    +sideBarSection('Admin', 'user-cog', [
                        {title: 'Login', href: '/admin/login'},
                    ])