extends layout

block content

  div(class="flex flex-wrap m-4")

  div(class="w-full p-3")

    h2 Oops!
  
    p Something went wrong and the system was unable to display the page you attempted to load. Those responsible have been sacked! Until the problem can be corrected, here is a picture of a puppy to cheer you up. :)

    img(src="/img/puppy.jpg" alt="cute puppy")