extends layout

block content

 nav(class="w-100")
  ol(class="breadcrumb align-items-center")
    li(class="breadcrumb-item")
      a(href="/" class="")
        =`Home`
    li(class="breadcrumb-item active")
        =`Organizations`

 table(class="table table-striped table-sm")
    thead
      tr
        th= `Organization`
    tbody
      each org, i in orgs
        tr
          td
            a(href=`/repositories?org=` + org)= org