extends layout

block content

 nav(class="w-100")
  ol(class="breadcrumb align-items-center")
    li(class="breadcrumb-item")
      a(href="/" class="")
        =`Home`
    li(class="breadcrumb-item")
      =org
    li(class="breadcrumb-item active")
      =repo
       
 hr
 h5= `Pull Request Config`

 pre= config

 a(href=`/repositoryUploadConfig?org=` + org + `&repo=` + repo)= `Upload Config`
