extends layout

block content

 nav(class="w-100")
  ol(class="breadcrumb align-items-center")
    li(class="breadcrumb-item")
      a(href="/" class="")
        =`Home`
    li(class="breadcrumb-item")
      =org
    li(class="breadcrumb-item active")
      =repo
  
  form(action=`/repositoryUploadConfigFile?org=` + org + `&repo=` + repo  encType='multipart/form-data' method='POST')
    div(class="form-group")
      input(type='file' class='form-control' name='endpoint')
      input(type='submit' value='Upload')
