extends ../layout
include ../components/titleBar
include ../components/tableHeader
include ../components/tableCell
include ../components/tableRow
include ../components/tableCellButton
include ../components/infoCard
include ../components/tableConclusionCell

block content

  +titleBar([{title: 'Repositories', href: `/repositories?owner=` + build.owner + `&=` + build.repository}, 
      {title: build.owner + ' ' + build.repository, href: '/repositories/repositoryDetails?owner=' + build.owner + '&repository=' + build.repository},
      {title: build.owner + '' + build.repository + ' #' + build.build, href: '/repositories/buildDetails?buildID=' + build.build_id},
      {title: task.task, href: '/repositories/taskDetails?taskID=' + task.task_id},
      {title: title}])
  div(class="flex flex-wrap m-4")

  div(class="w-full p-3")
    div(class="bg-white border-transparent rounded-lg shadow-lg")
        div(class="bg-gray-400 uppercase text-gray-800 border-b-2 border-gray-500 rounded-tl-lg rounded-tr-lg p-2")
            h5(class="font-bold uppercase text-gray-600") Image Gallery Diff Summary
        div(class="p-5")
            table(class="table-auto w-full")
                tbody
                    +tableRow()
                        td(class="border px-2 py-2")
                            a(href="#changed-images") 🤔 Changed
                        +tableCell(changedImages.length)
                        td(class="border px-2 py-2")
                            a(href="#new-images") 🎊 New
                        +tableCell(newImages.length)
                        td(class="border px-2 py-2")
                            a(href="#removed-images") ❌ Removed
                        +tableCell(removedImages.length)

  div(class="w-full p-3")
    div(class="bg-white border-transparent rounded-lg shadow-lg")
        div(class="bg-gray-400 uppercase text-gray-800 border-b-2 border-gray-500 rounded-tl-lg rounded-tr-lg p-2")
            h5(class="font-bold uppercase text-gray-600")
                a(id="changed-images") Changed Images
        div(class="p-5 grid grid-cols-2 gap-4 bg-gray-800")
            each image, i in changedImages
                a(href=``+image.base.url)
                    h1(class="text-white")= ``+image.base.title+` BEFORE`
                    img(src=``+image.base.url alt=``+image.base.title+` BEFORE`)
                a(href=``+image.target.url)
                    h1(class="text-white")= ``+image.target.title+` AFTER`
                    img(src=``+image.target.url alt=``+image.target.title+` BEFORE`)

  div(class="w-full p-3")
    div(class="bg-white border-transparent rounded-lg shadow-lg")
        div(class="bg-gray-400 uppercase text-gray-800 border-b-2 border-gray-500 rounded-tl-lg rounded-tr-lg p-2")
            h5(class="font-bold uppercase text-gray-600") 
                a(id="new-images") New Images
        div(class="p-5 grid grid-cols-3 gap-4 bg-gray-800")
            each image, i in newImages
                a(href=``+image.url)
                    h1(class="text-white")= image.title
                    img(src=``+image.url alt=``+image.title)

  div(class="w-full p-3")
    div(class="bg-white border-transparent rounded-lg shadow-lg")
        div(class="bg-gray-400 uppercase text-gray-800 border-b-2 border-gray-500 rounded-tl-lg rounded-tr-lg p-2")
            h5(class="font-bold uppercase text-gray-600") 
                a(id="removed-images") Removed Images
        div(class="p-5 grid grid-cols-3 gap-4 bg-gray-800")
            each image, i in removedImages
                a(href=``+image.url)
                    h1(class="text-white")= image.title
                    img(src=``+image.url alt=``+image.title)
