extends ../layout
include ../components/titleBar
include ../components/tableHeader
include ../components/tableCell
include ../components/tableRow
include ../components/tableCellButton
include ../components/infoCard
include ../components/tableConclusionCell

block content

  +titleBar([{title: 'Repositories', href: `/repositories?owner=` + build.owner + `&=` + build.repository}, 
      {title: build.owner + ' ' + build.repository, href: '/repositories/repositoryDetails?owner=' + build.owner + '&repository=' + build.repository},
      {title: build.owner + '' + build.repository + ' #' + build.build, href: '/repositories/buildDetails?buildID=' + build.build_id},
      {title: task.task, href: '/repositories/taskDetails?taskID=' + task.task_id},
      {title: title}])
  div(class="flex flex-wrap m-4")

  div(class="w-full p-3")
    div(class="bg-white border-transparent rounded-lg shadow-lg")
        div(class="bg-gray-400 uppercase text-gray-800 border-b-2 border-gray-500 rounded-tl-lg rounded-tr-lg p-2")
            h5(class="font-bold uppercase text-gray-600") Lines of Code
        div(class="p-5")
            table(class="table-auto w-full")
                thead
                    +tableHeader('Language')
                    +tableHeader('Files')
                    +tableHeader('Code Lines')
                    +tableHeader('Blank Lines')
                    +tableHeader('Comment Lines')
                tbody
                    each lang, i in loc
                        +tableRow()
                            +tableCell(lang.language)
                            +tableCell(lang.nFiles)
                            +tableCell(lang.code)
                            +tableCell(lang.blank)
                            +tableCell(lang.comment)
