extends ../layout

include ../components/titleBar
include ../components/tableHeader
include ../components/tableCell
include ../components/tableRow

block content

  +titleBar([{title: 'How to configure a scheduled build'}])
  div(class="flex flex-wrap m-4")

    div
      h3(class="text-l font-bold") Overview

      p. 
        Builds can be configured to execute on a daily basis. These builds can execute
        any number of tasks, but the schedule is currently limited to just once a day at
        a specific time. Also note at this point, only a system admin can setup a scheduled
        build for you.