extends ../layout
include ../components/titleBar
include ../components/tableHeader
include ../components/tableCell
include ../components/tableRow
include ../components/tableCellButton
include ../components/formSelect
include ../components/formHidden
include ../components/formFile

block content

  +titleBar([{title: 'Repositories', href: '/repositories'},
  {title: owner + ' ' + repository, href: '/repositories/repositoryDetails?owner=' + owner + '&repository=' + repository},
  {title: "Execute Task"}])
  div(class="flex flex-wrap m-4")

    form(class="w-full m-4" method="POST" action="/repositories/executeTaskConfig" encType="multipart/form-data")
      div(class="flex -mx-3 mb-6")
        div(class="w-1/5 px-3 mb-6 md:mb-0")
          +formSelect("Task", "task", taskList)
        div(class="w-1/5 px-3 mb-6 md:mb-0")
          +formSelect("Build Type", "buildType", buildTypeList)
        div(class="w-1/2 px-3 mb-6 md:mb-0")
          p Defaults
          +formFile(null, "uploadFile")
      div(class="w-1/4 px-3 mb-6 md:mb-0")
        button(class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded") Configure Task
        +formHidden("owner", owner)
        +formHidden("repository", repository)
