extends ../layout
include ../components/titleBar
include ../components/tableHeader
include ../components/tableCell
include ../components/tableUnderlinedCell
include ../components/tableRow
include ../components/tableCellButton
include ../components/formFile
include ../components/formHidden

block content

  +titleBar([{title: 'Repositories', href: `/repositories?owner=` + owner + `&=` + repository},
  {title: owner + ' ' + repository}])
  div(class="flex flex-wrap m-4")

    div(class="w-full p-3")
        div(class="bg-white border-transparent rounded-lg shadow-lg")
          div(class="bg-gray-400 uppercase text-gray-800 border-b-2 border-gray-500 rounded-tl-lg rounded-tr-lg p-2")
            h5(class="font-bold uppercase text-gray-600") Active Builds
          div(class="p-5")
            if activeBuilds.length > 0
              table(class="table-auto w-full")
                  thead
                    +tableHeader('Build')
                    +tableHeader('Build #')
                    +tableHeader('Duration')
                  each build, i in activeBuilds
                    tbody
                        +tableRow(`/repositories/buildDetails?buildID=`+build.build_id)
                          +tableUnderlinedCell(build.build_key)
                          +tableCell(build.build)
                          +tableCell(prettyMilliseconds(new Date() - build.started_at))
            else
              p No active builds found...
                        
    div(class="w-full p-3")
        div(class="bg-white border-transparent rounded-lg shadow-lg")
          div(class="bg-gray-400 uppercase text-gray-800 border-b-2 border-gray-500 rounded-tl-lg rounded-tr-lg p-2")
            h5(class="font-bold uppercase text-gray-600") Repository Builds
          div(class="p-5")
            table(class="table-auto w-full")
                thead
                  +tableHeader('Build')
                  +tableHeader('Last Executed')
                each build, i in repositoryBuilds
                  tbody
                    +tableRow(`/repositories/repositoryBuildDetails?owner=` + owner + `&repository=` + repository + `&build=` + build.build)
                      +tableUnderlinedCell(build.build, "underline")
                      +tableCell(build.message, "underline")

    div(class="w-full p-3")
        div(class="bg-white border-transparent rounded-lg shadow-lg")
          div(class="bg-gray-400 uppercase text-gray-800 border-b-2 border-gray-500 rounded-tl-lg rounded-tr-lg p-2")
            h5(class="font-bold uppercase text-gray-600") Branch Builds
          div(class="p-5")
            table(class="table-auto w-full")
                thead
                  +tableHeader('Branch')
                each build, i in branchBuilds
                  tbody
                    +tableRow(`/repositories/repositorySourceDetails?owner=` + owner + `&repository=` + repository + `&build_key=` + build.build_key)
                      +tableUnderlinedCell(build.build_key, "underline")

    div(class="w-full p-3")
        div(class="bg-white border-transparent rounded-lg shadow-lg")
          div(class="bg-gray-400 uppercase text-gray-800 border-b-2 border-gray-500 rounded-tl-lg rounded-tr-lg p-2")
            h5(class="font-bold uppercase text-gray-600") Release Builds
          div(class="p-5")
            table(class="table-auto w-full")
                thead
                  +tableHeader('Release')
                each build, i in releaseBuilds
                  tbody
                    +tableRow(`/repositories/repositorySourceDetails?owner=` + owner + `&repository=` + repository + `&build_key=` + build.build_key)
                      +tableUnderlinedCell(build.build_key, "underline")


