extends ../layout
include ../components/titleBar
include ../components/tableHeader
include ../components/tableCell
include ../components/tableRow
include ../components/tableCellButton

block content

  +titleBar([{title: 'Repositories', href: '/repositories'}, 
  {title: build.owner + ' ' + build.repository, href: '/repositories/repositoryDetails?owner=' + build.owner + '&repository=' + build.repository},
  {title: build.owner + '' + build.repository + ' #' + build.id}])
  div(class="flex flex-wrap m-4")

  div(class="w-full p-3")
      div(class="bg-white border-transparent rounded-lg shadow-lg")
        div(class="bg-gray-400 uppercase text-gray-800 border-b-2 border-gray-500 rounded-tl-lg rounded-tr-lg p-2")
          h5(class="font-bold uppercase text-gray-600") Build Information
        div(class="p-5")
          table(class="table-auto w-full")
            tbody
              +tableRow()
                +tableCell('Owner')
                +tableCell(build.owner)
              +tableRow()
                +tableCell('Repository')
                +tableCell(build.repository)
              +tableRow()
                +tableCell('Build')
                +tableCell(build.id)
              +tableRow()
                +tableCell('Scheduled At')
                +tableCell(build.scheduled_at)              

