extends ../layout
include ../components/titleBar
include ../components/tableHeader
include ../components/tableCell
include ../components/tableUnderlinedCell
include ../components/tableRow
include ../components/tableCellButton
include ../components/formFile
include ../components/formHidden

block content

  +titleBar([{title: 'Repositories', href: `/repositories?owner=` + owner + `&=` + repository},
    {title: owner + ' ' + repository, href: '/repositories/repositoryDetails?owner=' + owner + '&repository=' + repository},
    {title: build}])
  div(class="flex flex-wrap m-4")

    div(class="w-full p-3")
        div(class="bg-white border-transparent rounded-lg shadow-lg")
          div(class="bg-gray-400 uppercase text-gray-800 border-b-2 border-gray-500 rounded-tl-lg rounded-tr-lg p-2")
            h5(class="font-bold uppercase text-gray-600") Build Details
          div(class="p-5")
              table(class="table-auto w-full")
                tbody
                  +tableRow()
                    +tableCell('Build')
                    +tableCell(build)
                  if status != "idle"
                    +tableRow()
                      +tableCell('Status')
                      +tableCell(message)
                  if status == "idle"
                    +tableRow()
                      +tableCellButton("Start", `/repositories/executeRepositoryBuild?owner=` + owner + `&repository=` + repository + `&build=` + build)                      
                      +tableCell("")

    div(class="w-full p-3")
        div(class="bg-white border-transparent rounded-lg shadow-lg")
          div(class="bg-gray-400 uppercase text-gray-800 border-b-2 border-gray-500 rounded-tl-lg rounded-tr-lg p-2")
            h5(class="font-bold uppercase text-gray-600") Recent Builds
          div(class="p-5")
            table(class="table-auto w-full")
                thead
                  +tableHeader('Build')
                  +tableHeader('Build #')
                  +tableHeader('Completed At')
                each build, i in recentBuilds
                  tbody
                    +tableRow(`/repositories/buildDetails?buildID=` + build.build_id)
                      +tableUnderlinedCell(build.build_key)
                      +tableCell(build.build)
                      +tableCell(build.completed_at)
