extends ../layout
include ../components/titleBar
include ../components/tableHeader
include ../components/tableCell
include ../components/tableRow
include ../components/infoCard
include ../components/tableCellButton
include ../components/tableConclusionCell

block content

    +titleBar([{title: 'Repositories', href: `/repositories?owner=` + build.owner + `&=` + build.repository}, 
      {title: build.owner + ' ' + build.repository, href: '/repositories/repositoryDetails?owner=' + build.owner + '&repository=' + build.repository},
      {title: build.owner + '' + build.repository + ' #' + build.build, href: '/repositories/buildDetails?buildID=' + build.build_id},
      {title: task.task}])
    div(class="flex flex-wrap m-4")

    +infoCard('Task Information')
        table(class="table-auto w-full")
            tbody
              +tableRow()
                +tableCell('Task')
                +tableCell(task.task)
              +tableRow()
                +tableCell('Conclusion')
                +tableConclusionCell(task.conclusion)
              +tableRow()
                +tableCell('Node')
                +tableCell(task.node)
              each detail, i in scmDetails
                +tableRow()
                  +tableCell(detail.title)
                  +tableCell(detail.value)
              if isAdmin == true && configValues.length > 0
                +tableRow()
                  +tableCellButton('Requeue', '/repositories/requeueTask?taskID=' + task.task_id)
                  +tableCell('')

    if configValues.length > 0
      +infoCard('Task Config')
          table(class="table-auto w-full")
              thead
                +tableHeader('Config Parameter')
                +tableHeader('Source')
                +tableHeader('Value')
              tbody
                  each config, i in configValues
                      +tableRow()
                          +tableCell(config.key)
                          +tableCell(config.source)
                          +tableCell(config.value)

    if taskDetails.details.result
        +infoCard('Task Results')
            table(class="table-auto w-full")
                tbody
                    +tableRow()
                        +tableCell('Conclusion')
                        +tableCell(taskDetails.details.result.conclusion)
                    +tableRow()
                        +tableCell('Title')
                        +tableCell(taskDetails.details.result.title)
        
        if artifacts.length > 0
          +infoCard('Artifacts')
            table(class="table-auto w-full")
              thead
                +tableHeader('Artifact')
                +tableHeader('Action')
              tbody
                  each artifact, i in artifacts
                      +tableRow(artifact.url)
                          +tableCell(artifact.title)
                          if artifact.type == "download"
                            +tableCellButton("Download", artifact.url)
                          else if artifact.type == "link"
                            +tableCellButton("Open", artifact.url)

        +infoCard('Summary')
          div(id="task-result-summary")
          data(id="task-result-summary-data" hidden)
            = summary
          script.
            document.getElementById('task-result-summary').innerHTML =
              marked(document.getElementById('task-result-summary-data').innerHTML, {gfm: true});

        +infoCard('Text')
          div(id="task-result-text" class="overflow-scroll")
          data(id="task-result-text-data" hidden)
            = text
          script.
            document.getElementById('task-result-text').innerHTML =
              marked(document.getElementById('task-result-text-data').innerHTML, {gfm: true});
